body {
  margin: 0;
}
.Nav{
  background-color: #5D3587;
  display: flex;  
  padding-left: 30px;
}
.Navi{
  padding-left: 75%;
  display: flex;
  font-weight: 600;
  font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;
  gap: 25px;
  font-size: 25px;
}
.HeroImages{
  
 
}

